@model FarmlyWeb.Models.Venda

<h2>Finalizar Compra</h2>

<form asp-action="ConfirmarCompra" method="post">
    <!-- Campo oculto para IdCliente -->
    @Html.HiddenFor(model => model.IdCliente)

    <!-- Campo oculto para DataVenda -->
    @Html.HiddenFor(model => model.DataVenda)

    <!-- Campo oculto para Preco -->
    @Html.HiddenFor(model => model.Preco)

    <!-- Campo oculto para Status -->
    @Html.HiddenFor(model => model.Status)
    <div class="form-group">
        <label for="Pagamento">Forma de Pagamento</label>
        <select asp-for="Pagamento" class="form-control" id="Pagamento" required>
            <option value="">Selecione</option>
            <option value="Cartão de Crédito">Cartão de Crédito</option>
            <option value="Cartão de Débito">Cartão de Débito</option>
            <option value="Boleto">Boleto</option>
            <option value="Pix">Pix</option>
            <option value="Dinheiro">Dinheiro</option>
        </select>
        <span asp-validation-for="Pagamento" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success" id="confirmarCompraBtn">Confirmar Compra</button>
</form>

@if (!string.IsNullOrEmpty(ViewData["ErrorMessage"] as string))
{
    <div class="alert alert-danger">
        @ViewData["ErrorMessage"]
    </div>
}
